html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  touch-action: none;
}

#gameCanvas {
  display: block;
  background: #111;
  width: 100vw;
  height: 100vh;
}
